<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Кадры и бухгалтерия</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <link rel="stylesheet" href="content/css/main.css" />
    <link rel="stylesheet" href="content/css/material-fonts/material-fonts.css" />
    <link rel="stylesheet" href="scripts/angular-material/angular-material.css" />
    <link rel="stylesheet" href="scripts/mdDataTable/md-data-table.min.css" />
</head>
<body ng-app="app" ng-cloak>
    <div ng-controller="navigationController">
        <div>
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                            <i class="material-icons">menu</i>
                        </md-button>
                        <h2>
                            <span>Кадры и бухгалтерия</span>
                        </h2>
                        <span flex></span>
                        <md-button class="md-icon-button">
                            <i class="material-icons">account_circle</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <i class="material-icons">more_vert</i>
                        </md-button>
                    </div>
                </md-toolbar>
            </md-content>
            <div layout="column">
                <section layout="row" flex>
                    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
                        <md-toolbar class="md-theme-indigo">
                            <h1 class="md-toolbar-tools">Меню</h1>
                        </md-toolbar>
                        <md-content layout-margin>
                            <section layout="column">
                                <md-button class="md-raised md-primary">First</md-button>
                                <md-button class="md-raised md-primary">Second</md-button>
                                <md-button class="md-raised md-primary">Third</md-button>
                                <md-button class="md-raised md-primary">Fourth</md-button>
                                <md-button class="md-raised md-primary">Fifth</md-button>
                                <md-button class="md-raised md-primary">Sixth</md-button>
                            </section>
                        </md-content>
                    </md-sidenav>
                </section>
            </div>
        </div>

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Табель">
                    <md-content class="md-padding">
                        <md-table-container>
                            <table md-table md-progress="promise">
                                <thead md-head md-on-reorder="getTimesheets">
                                    <tr md-row>
                                        <th md-column><span>Имя</span></th>
                                        <th md-column md-numeric>1</th>
                                        <th md-column md-numeric>2</th>
                                        <th md-column md-numeric >3</th>
                                        <th md-column md-numeric>4</th>
                                        <th md-column md-numeric>5</th>
                                        <th md-column md-numeric>6</th>
                                        <th md-column md-numeric>7</th>
                                        <th md-column md-numeric>8</th>
                                        <th md-column md-numeric>9</th>
                                        <th md-column md-numeric>10</th>
                                        <th md-column md-numeric>11</th>
                                        <th md-column md-numeric>12</th>
                                        <th md-column md-numeric>13</th>
                                        <th md-column md-numeric>14</th>
                                        <th md-column md-numeric>15</th>
                                        <th md-column md-numeric>16</th>
                                        <th md-column md-numeric>17</th>
                                        <th md-column md-numeric>18</th>
                                        <th md-column md-numeric>19</th>
                                        <th md-column md-numeric>20</th>
                                        <th md-column md-numeric>21</th>
                                        <th md-column md-numeric>22</th>
                                        <th md-column md-numeric>23</th>
                                        <th md-column md-numeric>24</th>
                                        <th md-column md-numeric>25</th>
                                        <th md-column md-numeric>26</th>
                                        <th md-column md-numeric>27</th>
                                        <th md-column md-numeric>28</th>
                                        <th md-column md-numeric>29</th>
                                        <th md-column md-numeric>30</th>
                                        <th md-column md-numeric>31</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="timesheet in timesheets.data">
                                        <td md-cell>{{timesheet.name}}</td>
                                        <td md-cell>{{timesheet.day1}}</td>
                                        <td md-cell>{{timesheet.day2}}</td>
                                        <td md-cell ng-click="editTimesheet($event, timesheet)">{{timesheet.day3}}</td>
                                        <td md-cell>{{timesheet.day4}}</td>
                                        <td md-cell>{{timesheet.day5}}</td>
                                        <td md-cell>{{timesheet.day6}}</td>
                                        <td md-cell>{{timesheet.day7}}</td>
                                        <td md-cell>{{timesheet.day8}}</td>
                                        <td md-cell>{{timesheet.day9}}</td>
                                        <td md-cell>{{timesheet.day10}}</td>
                                        <td md-cell>{{timesheet.day11}}</td>
                                        <td md-cell>{{timesheet.day12}}</td>
                                        <td md-cell>{{timesheet.day13}}</td>
                                        <td md-cell>{{timesheet.day14}}</td>
                                        <td md-cell>{{timesheet.day15}}</td>
                                        <td md-cell>{{timesheet.day16}}</td>
                                        <td md-cell>{{timesheet.day17}}</td>
                                        <td md-cell>{{timesheet.day18}}</td>
                                        <td md-cell>{{timesheet.day19}}</td>
                                        <td md-cell>{{timesheet.day20}}</td>
                                        <td md-cell>{{timesheet.day21}}</td>
                                        <td md-cell>{{timesheet.day22}}</td>
                                        <td md-cell>{{timesheet.day23}}</td>
                                        <td md-cell>{{timesheet.day24}}</td>
                                        <td md-cell>{{timesheet.day25}}</td>
                                        <td md-cell>{{timesheet.day26}}</td>
                                        <td md-cell>{{timesheet.day27}}</td>
                                        <td md-cell>{{timesheet.day28}}</td>
                                        <td md-cell>{{timesheet.day29}}</td>
                                        <td md-cell>{{timesheet.day30}}</td>
                                        <td md-cell>{{timesheet.day31}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-content>
                </md-tab>
                <md-tab label="two">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="three">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <div ng-view>

    </div>
    <script type="text/javascript" src="/scripts/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/angular/angular.js"></script>
    <script type="text/javascript" src="/scripts/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/scripts/angular/angular-aria.js"></script>
    <script type="text/javascript" src="/scripts/angular/angular-messages.js"></script>
    <script type="text/javascript" src="/scripts/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/scripts/mdDataTable/md-data-table.min.js"></script>
    <!--app-->
    <script type="text/javascript" src="/scripts/app/app.js"></script>
    <!--controllers-->
    <script type="text/javascript" src="/scripts/app/controllers/navigationController.js"></script>
    <script type="text/javascript" src="/scripts/app/controllers/tableController.js"></script>
</body>
</html>
